.personal-deltails {
    margin-top: 74px;
    margin-bottom: 74px;
    padding: 0 154px 0 154px ;
}
.deltails-top {
    display: flex;
}
.personal-deltails .info-deltails {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.personal-deltails .info-deltails .info-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-deltails .info-left span {
    width: max-content;
    font-size: 24px;
    font-weight: 600;
    box-shadow: inset 0 -10px gold;
}

.info-deltails .info-left .info-icon {
    display: flex;
}

.info-left .info-icon .icon-item {
    border-radius: 50%;
    padding: 8px;
    background: none;
    border: 2px solid gray;
    margin-left: 20px;
}
.info-left .info-icon button:first-child {
    margin-left: -10px;
}

.info-icon  .icon-item ion-icon {
    font-size: 300%;
    color: gray;
}

.table-info tr td {
    padding: 10px;
    font-weight: 600;
}

.table-info tr td:last-child {
    font-weight: 500 ;
    color:rgb(71, 71, 254)  ;
}

/* logo-delta */
.personal-deltails .logo-deltas {
    margin-top: 30px;
}
.logo-row {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.logo-item {
    padding: 10px 10px 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 4px 4px 4px rgb(192, 192, 192);
}
.deltas-icon {
    height: 70px;
    width: 70px;
}


.deltas-icon img {
    width: 100%;
    height: 100%;
}
.deltas-icon-name p {
    font-size: 14px;
}

