.all {
    height: 200px;
    width: 554px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all ion-icon {
    font-size: 300%;
    color: aliceblue;
}

.number {
    transition: transform 1s ease-in-out;
    transform-origin: bottom;
}