.all{
    height: 100vh;
    background-image:url("https://wallpaperaccess.com/full/1783834.jpg ");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}