
.product-footer {
    margin-top: 72px;
    height: 290px;
    padding: 0 50px 0 84px;
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    display: flex;
    flex-direction: column;
}
.product-footer .footer-logo .logo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 42px;
    gap: 12px;
    margin-bottom: 42px;
}

.footer-logo .logo-item .material-symbols-outlined {
    color: #AD7E5C;
    width: 42px !important;
    height: 42px !important;
    font-size: 300%;
}

.footer-logo .logo-item span:last-child {
    color: #151411;
    height: 19px;
    width: 76px;
    font-size: 20px;
    font-weight: bold;
}

.footer-list {
    display: flex;
    gap: 84px;
}
.footer-list-items {
    display: flex;
    flex-direction: column;
    height: 210px;
    font-size: 18px;
    font-weight: 500;
}

.footer-list .footer-list-items h4,p {
    margin-bottom: 20px;
}
