@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans:wght@400;500;600;700&family=Oswald:wght@200&display=swap');
/* header */
@import url(./layout/header-css/header-nav.css);
@import url(./layout/header-css/header-content.css);
/* body */
@import url(./layout/body-css/personal-deltais.css);
/* footer */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

p {
    font-size: 18px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: 1px solid transparent;
}

input:focus {
    outline: none;
}